:root {
  --black: rgba(0, 0, 0, 1);
  --white: rgba(255, 255, 255, 1);
  --gray: rgba(128, 128, 128, 1);
  --lightGray: #ccc;
  --lightGreen: rgba(0, 255, 0, 1); /* will be used to make auth.signal green */
  --lightRed: rgb(229, 79, 46); /* will be used to make auth.signal red incase of not being registered yet */
  --blue_fromFigma: #2E7985;

  --heightNavbar: 120px;
}

@font-face {
  font-family: "SF-Pro-Display_regular";
  src: url("../font/sf-pro-display-cufonfonts/SFPRODISPLAYREGULAR.OTF");
}

@font-face {
  font-family: "SF-Pro-Display_bold";
  src: url("../font/sf-pro-display-cufonfonts/SFPRODISPLAYBOLD.OTF");
}

/* Globale Stile */
/* ---------------------------------------------- */

main {
  padding: 0;
}

body {
  width: 100vw; 
  height: 100vh;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction:column;
}

p {
  margin: 0;
  padding: 0;
}

a {
  display: flex;
  align-items: center;
  justify-content: center;
}

.txt {
  font-family: "SF-Pro-Display_regular", Helvetica;
  font-size: 1rem;
  font-weight: 300;
  color: var(--black);
  line-height: 1;
  text-align: start;
}

.title {
  font-family: "SF-Pro-Display_bold", Helvetica;
  font-size: 4.5rem;
  font-weight: 700;
  letter-spacing: 0;
  line-height: .8;
  white-space: nowrap;
}

.title2 {
  font-family: "SF-Pro-Display_bold", Helvetica;
  font-size: 3.5rem;
  font-weight: 700;
  letter-spacing: 0;
  line-height: 1;
  white-space: nowrap;
}

.sub-title_1 {
  align-self: flex-start;
  font-size: 1.13rem;
  font-weight: 400;
  letter-spacing: 0;
  line-height: normal;
  white-space: nowrap;
}

.link {
  font-family: "SF-Pro-Display_bold", Helvetica;
  text-transform: uppercase;
  font-weight: 700;
  letter-spacing: 0;
  white-space: nowrap;
  text-decoration: none;
  color: var(--white);
  cursor: pointer;
}

.link:active {
  color: var(--grays);
}

button {
  box-sizing: border-box;
  padding: 10px 25px;
  border-radius: 5px;
  text-transform: uppercase;
}

#big-textarea {
  width: 100%;
  height: 150px;
  appearance: none;
  background-color: #fff;
  border: 1px solid var(--black);
  border-radius: 5px;
  resize: none;
}

.label {
  max-width: 50%;
  font-size: 0.8rem;
  font-weight: 500;
}

/* Seiten Struktur */
/* ---------------------------------------------- */

main{
  padding: 0;
}

body {
  padding: 0;
  margin: 0;
}

.article-Upload_top-wrapper {
  width: 70%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 20px;
}

#article-Upload {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 100px;
  padding: 60px 0 60px 0;
}

#article-Upload_titleButtons {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 20px;
  height: 100%;
}

#article-Upload_buttons {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 20px;
}

#article-Upload_Inputs {
  width: 70%;
  padding: 0 0 0 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 40px;
}

.Article_PropertyInputs {
  width: 90%;
  height: fit-content;
  display: flex;
  flex-direction: row;
  align-items: end;
  justify-content: space-between;
}

.uploadgroup {
  width: 90%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: left;
  gap: 2px;
}

.inputgroup {
  width: 32%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: left;
  gap: 2px;
}

input {
  width: 100%;
  min-height: 38px;
  box-sizing: border-box;
  border: 1px solid var(--black);
  padding: 10px 20px;
  font-style: normal;
  font-weight: 700;
  border-radius: 8px;
}

.wrapper_status_link {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 30px;
}

.wrapper_status{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 10px;
}

.txt.sub-title_1 {
  text-align: center; /* Center-align the text horizontally */
  margin: 0; /* Reset margin for the text */
  align-self: center; /* Center the text vertically */
}

/* Komponenten Stile */
/* ---------------------------------------------- */

#logout {
  color: var(--gray);
}

#logout:active {
  color: var(--white);
}

.profilePic {
  width: 200px;
  height: 200px;
  background-color: #ccc;
  clip-path: circle(50% at center);
}

.profilePic img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  clip-path: circle(50% at center);
}

#hrztlGrayLine {
  width: 100%;
  height: 3px;
  border-radius: 5px;
  background-color: var(--gray);
  opacity: 0.5;
}

#articleUpload_Cancel {
  background-color: var(--lightGray);
  border: 0 solid var(--black);
}

#articleUpload_Upload {
  appearance: none;
  background-color: var(--white);
  border: 2px solid var(--black);
}

#articleUpload_Upload:active {
  border-color: var(--lightGray);
}

#articleUpload_Cancel:active {
  background-color: var(--white);
  outline: 2px solid var(--black);
}

#file-upload {
  box-sizing: border-box;
  padding: 10px 20px;
  height: 100px;
  border: 1.5px dashed var(--black);
  background-color: var(--white);
  text-align: center;
  cursor: pointer;
  font-family: "SF-Pro-Display_regular", Helvetica;
}

.status-signal{
  width: 20px;
  height: 20px;
  border-radius: 5px;
  border: 2px solid var(--black);
  background-color: var(--black);
}

/* Media Queries */
/* ---------------------------------------------- */

