:root {
  --black: rgba(0, 0, 0, 1);
  --white: rgba(255, 255, 255, 1);
  --gray: rgba(128, 128, 128, 1);
  --lightGray: #ccc;
  --lightGreen: rgba(0, 255, 0, 1); /* will be used to make auth.signal green */
  --lightRed: rgb(229, 79, 46); /* will be used to make auth.signal red incase of not being registered yet */
  --blue_fromFigma: #2E7985;
}

@font-face {
  font-family: "SF-Pro-Display_regular";
  src: url("../font/sf-pro-display-cufonfonts/SFPRODISPLAYREGULAR.OTF");
}

@font-face {
  font-family: "SF-Pro-Display_bold";
  src: url("../font/sf-pro-display-cufonfonts/SFPRODISPLAYBOLD.OTF");
}

/* Globale Stile */
/* ---------------------------------------------- */

main {
  padding: 0;
}

body {
  width: 100vw; 
  height: 100vh;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction:column;
}

p {
  margin: 0;
  padding: 0;
}

a {
  display: flex;
  align-items: center;
  justify-content: center;
}

.txt {
  font-family: "SF-Pro-Display_regular", Helvetica;
  font-size: 1rem;
  font-weight: 300;
  color: var(--black);
  line-height: 1;
  text-align: center;
}

.title {
  font-family: "SF-Pro-Display_bold", Helvetica;
  font-size: 4.5rem;
  font-weight: 700;
  letter-spacing: 0;
  line-height: .8;
  white-space: nowrap;
}

.title2 {
  font-family: "SF-Pro-Display_bold", Helvetica;
  font-size: 3.5rem;
  font-weight: 700;
  letter-spacing: 0;
  line-height: .8;
  white-space: nowrap;
}

.sub-title_1 {
  font-size: 1.13rem;
  font-weight: 400;
  letter-spacing: 0;
  line-height: normal;
  white-space: nowrap;
}

.link {
  font-family: "SF-Pro-Display_bold", Helvetica;
  text-transform: uppercase;
  font-weight: 700;
  letter-spacing: 0;
  white-space: nowrap;
  text-decoration: none;
  color: var(--white);
  cursor: pointer;
}

.link:active {
  color: var(--grays);
}

button {
  box-sizing: border-box;
  padding: 10px 25px;
  border-radius: 5px;
  text-transform: uppercase;
}

.inputgroup {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: left;
  gap: 2px;
}

input {
  width: 100%;
  min-height: 38px;
  box-sizing: border-box;
  border: 1px solid var(--black);
  padding: 10px 20px;
  font-style: normal;
  font-weight: 700;
  border-radius: 8px;
}

#big-textarea {
  width: 100%;
  height: 150px;
  appearance: none;
  background-color: #fff;
  border: 1px solid var(--black);
  border-radius: 5px;
  resize: none;
}

.label {
  max-width: 50%;
  font-size: 0.8rem;
  font-weight: 500;
}

/* Seiten Struktur */
/* ---------------------------------------------- */

main{
  padding: 0;
}

body {
  padding: 0;
  margin: 0;
}

#profile {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 30px;
  padding: 80px 0px 0px 0px;
}

#showProfile {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 20px;
}

.showProfile_profileInfo {
  width: 60%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 20px;
}

.profileInfo {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 20px;
}

.profileName {
  width: fit-content;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 20px;
  padding-bottom: 50px;
}

.showProfile_aboutme {
  margin: 0 10vw 0 10vw;
}

.profileName > * {
  height: fit-content;
}

#name {
  font-family: "SF-Pro-Display_bold";
  font-size: 1.6rem;
}

.titleDiv{
  align-content: center;
  justify-content: center;
}

#editPen{
  width: 28px;
  height: 28px;
  padding: 0px;
  appearance: none;
  border: none;
  background-color: transparent;
  cursor: pointer;
}

#editPen svg{
  width: 95%;
  height: 95%;
  padding: 0px;
}

.profileName_firstElement{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 5px;
}

/* Edit Button */

.edit-button {
  display: flex;
  align-items: center; /* Align items vertically */
  justify-content: space-between; /* Create space between items */
  gap: 10px; /* Adjust the gap between text and button as needed */
}

.button_style {
  appearance: none;
  background-color: var(--white);
  border: 2px solid var(--black);
  padding: 0px 10px; /* Adjust the padding as needed to make the button smaller */
  font-size: 14px; /* Adjust the font size to make the text smaller */
}

.button_style:hover {
  background-color: #555; /* Darker background color on hover */
}

.button_style svg {
  fill: #000000; /* SVG fill color for the icon */
  height: 24px;
  width: 24px;
}



#bold {
  font-weight: bold;
}

#editProfile {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 20px;
}

#editProfile_TitleButtons {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 20px;
  min-width: 60%;
}

#editProfile_Buttons {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  gap: 20px;
}

#editProfile_Inputs {
  width: 70%;
  padding: 40px 0 0 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 40px;
}

/* Komponenten Stile */
/* ---------------------------------------------- */

#logout {
  color: var(--gray);
}

#logout:active {
  color: var(--white);
}

.profilePic {
  position: relative;
  width: 200px;
  height: 200px;
  background-color: transparent;
  clip-path: circle(50% at center);
}

.middle-button {
  z-index: 1;
  cursor: pointer;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  opacity: 0;
  transition: opacity 0.2s;
  appearance: none;
  background-color: rgba(255, 255, 255, 0.5);
  border: 2px solid var(--black);
  font-size: 0.8rem;
}

.middle-button:active {
  border: 2px solid var(--lightGray);
}

.profilePic:hover .middle-button {
  opacity: 1;
}

.profilePic img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  clip-path: circle(50% at center);
}

#hrztlGrayLine {
  width: 100%;
  height: 3px;
  border-radius: 5px;
  background-color: var(--gray);
  opacity: 0.5;
}

#editProfile_Cancel {
  background-color: var(--lightGray);
  border: 0 solid var(--black);
}

#editProfile_Save {
  appearance: none;
  background-color: var(--white);
  border: 2px solid var(--black);
}

#editProfile_Save:active {
  border-color: var(--lightGray);
}

#editProfile_Cancel:active {
  background-color: var(--white);
  outline: 2px solid var(--black);
}

#trashBin {
  width: 28px;
  height: 28px;
  padding: 0px;
  appearance: none;
  border: none;
  background-color: transparent;
  cursor: pointer;
}

#trashBin svg {
  width: 95%;
  height: 95%;
  padding: 0px;
}

#trashBin:hover svg {
  fill: red;
}

/* Media Queries */
/* ---------------------------------------------- */

@media screen and (max-width: 600px) {
  #editProfile_TitleButtons {
    flex-direction: column; /* Stack elements vertically for mobile */
    align-items: center; /* Center items horizontally for mobile */
    min-width: 80%; /* Adjust the minimum width as needed */
  }
  #editProfile_Buttons {
    margin-top: 10px; /* Add some top margin for spacing between the title and buttons */
    display: flex;
    justify-content: center; /* Center the buttons horizontally for mobile */
  }
  #editProfile_Cancel, #editProfile_Save {
    margin: 5px; /* Add some margin to separate the buttons */
  }
}

/* @media (max-width: 767px) {
  
  .navbar ul {
    width: 100%;
    padding: 0;
    background-color: rgba(0,0,0,0.9);
    height: 100vh;
    max-height: 0;
    overflow: hidden;
    transition: all ease-in-out 0.3s;
  }
  .navbar ul.open {
    max-height: 100vh;
  }
  .navbar ul li {
    width: 100%;
    border-bottom: 1px solid rgba(255,255,255,0.3);
  }
  .navbar ul li a {
    padding: 0;
  }
  .navbar .navbar-toggler {
    display: block;
    position: absolute;
    height: 40px;
    top: 20px;
    right: 20px;
    background-color: transparent;
    color: #fff;
    border: 3px solid #fff;
    outline: none;
    padding: 0 5px;
    cursor: pointer;
  }
  .navbar .navbar-toggler span,
  .navbar .navbar-toggler span::before,
  .navbar .navbar-toggler span::after {
    display: block;
    content: '';
    background-color: #fff;
    height: 3px;
    width: 28px;
    border-radius: 4px;
    transition: all ease-in-out 0.3s;
  }
  .navbar .navbar-toggler span::before {
    transform: translateY(-8px);
  }
  .navbar .navbar-toggler span::after {
    transform: translateY(5px);
  }

  .navbar .navbar-toggler.open-navbar-toggler span {
    background-color: transparent;
  }
  .navbar .navbar-toggler.open-navbar-toggler span::before {
    transform: translateY(0px) rotate(45deg);
  }
  .navbar .navbar-toggler.open-navbar-toggler span::after {
    transform: translateY(-3px) rotate(-45deg);
  }
} */
