

body {
    /*overflow: hidden; */
    font-family: Helvetica, Arial, sans-serif;
    background-color: #F9F5F6;
}

/* THIS IS THE CONTAINER OBEN UND UNTEN */

.container_oben_unten {
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 100vw;
  gap: 10px;
}

.container_oben_unten img {
  width: 150px;
  height: 150px;
  margin: 30px 0px;
  border-radius: 15px;
}

.container_oben_unten div {
  display: flex;
  align-items: center;
  justify-content: center;
}

.container_oben_unten button {
  padding: 10px 0px;
  font-size: 16px;
  font-weight: bold;
  text-align: center;
  text-decoration: none;
  background-color: #F9F5F6;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.container_oben_unten div.right{
  transform: scaleX(-1);
}




@media (max-width: 780px) {
  .one {
    display: none;
  }

  .three {
    display: none;
  }
}


/* THIS IS THE CONTAINER CENTER */

.swap_button {
display: flex;
flex-direction: column;
border: 3px solid black;
}


.amount {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: black;
  color: white;
}

.container_center {
  display:flex;
  height: 150px;
}

.container_center img {
  width: 90px;
  height: 90px;
  padding: 8px;
}

.swap {
  flex: 2;
  display: flex;
  justify-content: center;
  align-items: center;
  border-top: 3px solid black;
  border-bottom: 3px solid black;
}

/* THIS IS THE LINE */

.horizontal_line {
  display: flex;
  flex-direction: column;
  flex: 1;
}

.horizontal_line div {
  flex:1;
}

.top_horizontal_line {
  border-bottom: 3px solid black;
}


/* THIS IS THE PRICE TOLERANCE */

.price_tolerance {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 30px;
  gap: 20px;
}

.price_tolerance input[type="text"] {
  background-color: black;
  color: white;
  border: none;
  padding: 5px;
  border-radius: 3px;
  margin-right: 10px;
  caret-color: white;
}



/* THIS IS THE NAVBAR */

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
  }
  /*body {
    font-family: Helvetica, Arial, sans-serif;
    background-color: #fff;
    color: #333;
  }*/


  .navbar {
    background-color: #000;
    color: #fff;
    border-bottom: 1px solid rgba(255,255,255,0.2);
    width: 100%;
    height: 80px;
    line-height: 80px;
    font-size: 18px;
    padding: 0 30px;
    position: sticky;
    top: 0;
    left: 0;
    z-index: 10;
  }
  .navbar a {
    text-decoration: none;
    color: #fff;
  }
  .navbar a.navbar-brand {
    float: left;
    height: inherit;
    line-height: inherit;
    padding: 0px 30px;
  }

  .navbar ul {
    float: right;
    list-style: none;
    height: inherit;
    line-height: inherit;
    padding: 0 50px;
  }
  .navbar ul li {
    display: inline-block;
  }
  .navbar ul li a {
    display: block;
    text-align: center;
    min-width: 120px;
    padding: 0 30px;
  }
  .navbar ul li a:hover {
    background-color: rgba(255,255,255,0.15);
  }
  .navbar .navbar-toggler {
    display: none;
  }
  
  .intro {
    width: 100%;
    height: 100vh;
    background: url("https://source.unsplash.com/GYQBryEWh0Y/") no-repeat center center;
    background-size: cover;
    background-color: #000;
  }
  .container {
    position: relative;
    height: 100vh;
    color: #fff;
  }
  .container h2 {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 20vh;
  }
  #dashboard { background-color: #e34f26; }
  #profile { background-color: #002561; }
  #javascript { background-color: #333; }
  
  @media (max-width: 991px) {
    .navbar ul {
      padding: 0 10px;
    }
    .navbar ul li a {
      min-width: 100px;
      padding: 0 20px;
    }
  }
  
  @media (max-width: 767px) {
    .navbar {
      padding: 0;
    }
    .navbar ul {
      width: 100%;
      padding: 0;
      background-color: rgba(0,0,0,0.9);
      /* height: auto; */
      height: 100vh;
      max-height: 0;
      overflow: hidden;
      transition: all ease-in-out 0.3s;
    }
    .navbar ul.open {
      max-height: 100vh;
    }
    .navbar ul li {
      width: 100%;
      /* border-bottom: 1px solid rgba(255,255,255,0.3); */
    }
    .navbar ul li a {
      padding: 0;
    }
    .navbar .navbar-toggler {
      display: block;
      position: absolute;
      height: 40px;
      top: 20px;
      right: 20px;
      background-color: transparent;
      color: #fff;
      border: 3px solid #fff;
      /* border: none; */
      /* border-radius: 4px; */
      outline: none;
      padding: 0 5px;
      cursor: pointer;
    }
    .navbar .navbar-toggler span,
    .navbar .navbar-toggler span::before,
    .navbar .navbar-toggler span::after {
      display: block;
      content: '';
      background-color: #fff;
      height: 3px;
      width: 28px;
      border-radius: 4px;
      transition: all ease-in-out 0.3s;
    }
    .navbar .navbar-toggler span::before {
      transform: translateY(-8px);
    }
    .navbar .navbar-toggler span::after {
      transform: translateY(5px);
    }
    
    .navbar .navbar-toggler.open-navbar-toggler span {
      /* transform: rotate(90deg); */
      background-color: transparent;
      /* transform: scale(0.85) rotate(270deg); */
    }
    .navbar .navbar-toggler.open-navbar-toggler span::before {
      transform: translateY(0px) rotate(45deg);
      /* transform: translateY(0px) scale(0.75) rotate(45deg); */
    }
    .navbar .navbar-toggler.open-navbar-toggler span::after {
      transform: translateY(-3px) rotate(-45deg);
      /* transform: translateY(-3px) scale(0.75) rotate(-45deg); */
    }
  }


  