/* THIS IS THE NAVBAR */

#logout {
  color: var(--gray);
}

.navbar {
  box-sizing: border-box; /* otherwise width will do funny things */
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #000;
  color: #fff;
  width: 100%;
  padding: 15px 50px;
  position: sticky;
  top: 0;
  z-index: 10;
}

.navbar .logo-img {
  width: 180px;
}

.navbar ul {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 20px;
  margin: 0;
  padding: 0;
}

.navbar ul li {
  display: inline-block; /* makes dots for every li disappear */
}

.navbar ul li a {
  display: block;
  text-align: center;
  min-width: 120px;
}

.navbar ul li a:hover {
  color: var(--gray);
}