:root {
  --black: rgba(0, 0, 0, 1);
  --white: rgba(255, 255, 255, 1);
  --grey: rgba(128, 128, 128, 1);
  --lightGreen: rgba(0, 255, 0, 1); /* will be used to make auth.signal green */
}

@font-face {
  font-family: "SF-Pro-Display_regular";
  src: url("../font/sf-pro-display-cufonfonts/SFPRODISPLAYREGULAR.OTF");
}

@font-face {
  font-family: "SF-Pro-Display_bold";
  src: url("../font/sf-pro-display-cufonfonts/SFPRODISPLAYBOLD.OTF");
}

/* Globale Stile */
/* ---------------------------------------------- */

main {
  padding: 0;
}

body {
  width: 100vw; 
  height: 100vh;
  margin: 0;
  padding: 0;
}

.txt {
  font-family: "SF-Pro-Display_regular", Helvetica;
  font-size: 1rem;
  font-weight: 300;
  color: var(--black);
}

.title {
  font-family: "SF-Pro-Display_bold", Helvetica;
  font-size: 4.5rem;
  font-weight: 700;
  letter-spacing: 0;
  line-height: normal;
  white-space: nowrap;
}

.sub-title_1 {
  font-size: 1.13rem;
  font-weight: 400;
  letter-spacing: 0;
  line-height: normal;
  white-space: nowrap;
}

/* Seiten Struktur */
/* ---------------------------------------------- */

.wrapper_sign-in {
  display: flex;
  flex-direction: row;
  width: 100vw;
  height: 100vh;
}

.wrapper_halfVP {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.leftSide {
  background-color: var(--black);
}

.rightSide {
  background-color: var(--white);
}

.text-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 80px 60px;
  gap: 30px;
}

.text-wrapper_multipleHeadlines {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 0.1rem;
}

.form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 20px;
}

/* Komponenten Stile */
/* ---------------------------------------------- */

.wrapper_logo {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  padding: 80px 60px;
}

.wrapper_logo .img {
  width: 500px;
  height: 240px;
  object-fit: contain;
}

input[type="email"] {
  box-sizing: border-box;
  width: 100%;
  border: 1px solid var(--black);
  padding: 10px 20px;
  font-style: normal;
  font-weight: 700;
  border-radius: 8px;
}

input[type="email"]::placeholder {
  font-family: "SF-Pro-Display_bold", Helvetica;
  font-size: 0.9rem;
  font-weight: 700;
  color: var(--black);
}

.form button {
  box-sizing: border-box;
  width: 40%;
  padding: 10px 20px;
  border-radius: 8px;
  border: 2px solid var(--black);
  background-color: var(--white);
  text-transform: uppercase;
  font-size: .8rem;
}

.status-signal {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 10px;
}

.checkbox {
  width: 20px;
  height: 20px;
  background-color: var(--black, #000);
  border-radius: 5px;
}