:root {
  --black: rgba(0, 0, 0, 1);
  --white: rgba(255, 255, 255, 1);
  --gray: rgba(128, 128, 128, 1);
  --lightGray: #ccc;
  --lightGreen: rgba(0, 255, 0, 1); /* will be used to make auth.signal green */
  --lightRed: rgb(229, 79, 46); /* will be used to make auth.signal red incase of not being registered yet */
  --blue_fromFigma: #2E7985;
}

@font-face {
  font-family: "SF-Pro-Display_regular";
  src: url("../font/sf-pro-display-cufonfonts/SFPRODISPLAYREGULAR.OTF");
}

@font-face {
  font-family: "SF-Pro-Display_bold";
  src: url("../font/sf-pro-display-cufonfonts/SFPRODISPLAYBOLD.OTF");
}

@font-face {
  font-family: "SF-Pro-Display_italic";
  src: url("../font/sf-pro-display-cufonfonts/SFPRODISPLAYBLACKITALIC.OTF");
}

body {
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: row;
  height: 100vh;
}

.txt {
  font-family: "SF-Pro-Display_regular", Helvetica;
  font-weight: 300;
  line-height: 1;
}

.fontStyle_1 {
  font-family: "SF-Pro-Display_italic", Helvetica;
  color: var(--white);
  font-size: 1.4vw;
}

/* Style for each of the three divs */
.container-horizontal{
  flex: 1;
  background-size: cover;
  background-position: top;
  background-repeat: no-repeat;
}

/*Style for the middle-div*/
.black-bg {
  display: flex;
  padding: 0rem 1.875rem;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 2rem;
  background-color: var(--black);
}

.container-horizontal:nth-child(1) {
  background-image: url('../img/landingpage/ClothingVariant1.png');
}

.container-horizontal:nth-child(3) {
  background-image: url('../img/landingpage/ClothingVariant2.png');
}

.logo-button {
  padding: 0;
  width: 100%;
  border: none;
  background-color: black;
  cursor: pointer;
}

.logo-button img {
  object-fit: contain;
  width: 100%;
}

@media (max-width: 1200px) {
  /* Styles for screens up to 1200px wide */
  body {
    font-size: 18px;
  }
  .container-horizontal:nth-child(1) {
    background-size: fill; 
    background-position: center right; 
  }

  .container-horizontal:nth-child(3) {
    background-size: fill; 
    background-position: center left; 
  }
}


@media (max-width: 1024px) {
  /* Styles for screens up to 1024px wide */
  body {
    font-size: 16px;
  }
  .container-horizontal:nth-child(1) {
    background-size: fill; 
    background-position: center right; 
  }

  .container-horizontal:nth-child(3) {
    background-size: fill; 
    background-position: center left; 
  }
  
}

@media (max-width: 908px) {
  .fontStyle_1 {
    font-size: 14px;
  }
  
  .container-horizontal:nth-child(1) {
    background-size: fill; 
    background-position: center right;
  }

  .container-horizontal:nth-child(3) {
    background-size: fill; 
    background-position: center left; 
  }
}

@media (max-width: 480px) {
  .fontStyle_1 {
    font-size: 12;
  }

}


