:root {
  --fontStyle_1-color: #BCBCBC;
  --black: #000000;
}

@font-face {
  font-family: sf-pro-display_medium;
  src: url("./font/sf-pro-display-cufonfonts/SFPRODISPLAYMEDIUM.OTF") format("opentype"),
}

body {
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: row;
  height: 100vh;
}

/* Style for each of the three divs */
.container-horizontal{
  flex: 1;
  background-size: cover;
  background-position: top;
  background-repeat: no-repeat;
}

/*Style for the middle-div*/
.black-bg {
  display: flex;
  padding: 0rem 0.875rem;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 0.5rem;
  background-color: var(--black);
}

.container-horizontal:nth-child(1) {
  background-image: url('../img/landingpage/ClothingVariant1.png');
}

.container-horizontal:nth-child(3) {
  background-image: url('../img/landingpage/ClothingVariant2.png');
}

.fontStyle_1 {
  font-family: sf-pro-display_medium;
  color: var(--fontStyle_1-color);
  font-size: 1.6vw;
}

.logo-button {
  padding: 0;
  width: 95%;
  border: none;
  background-color: black;
}

.logo-button img {
  object-fit: contain;
}




@media (max-width: 1200px) {
  /* Styles for screens up to 1200px wide */
  body {
    font-size: 18px;
  }
  .container-horizontal:nth-child(1) {
    background-size: fill; 
    background-position: center right; 
  }

  .container-horizontal:nth-child(3) {
    background-size: fill; 
    background-position: center left; 
  }
}


@media (max-width: 1024px) {
  /* Styles for screens up to 1024px wide */
  body {
    font-size: 16px;
  }
  .container-horizontal:nth-child(1) {
    background-size: fill; 
    background-position: center right; 
  }

  .container-horizontal:nth-child(3) {
    background-size: fill; 
    background-position: center left; 
  }
  
}

@media (max-width: 908px) {
  .fontStyle_1 {
    font-size: 14px;
  }
  
  .container-horizontal:nth-child(1) {
    background-size: fill; 
    background-position: center right;
  }

  .container-horizontal:nth-child(3) {
    background-size: fill; 
    background-position: center left; 
  }
}





@media (max-width: 480px) {
  .fontStyle_1 {
    font-size: 12;
  }

}


