.Landingpage {
    width: 1440px;
    height: 1024px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    display: inline-flex;
  }
  
  .Frame27 {
    align-self: stretch;
    flex: 1 1 0;
    justify-content: space-between;
    align-items: center;
    display: inline-flex;
  }
  
  .Test11 {
    flex: 1 1 0;
    align-self: stretch;
  }
  
  .Frame26 {
    align-self: stretch;
    padding-left: 30px;
    padding-right: 30px;
    background: black;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 50px;
    display: inline-flex;
  }
  
  .Logowhitefont {
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    gap: 10px;
    display: flex;
  }
  
  .Swapster1 {
    width: 500px;
    height: 239.62px;
  }
  
  .OneManSTrashThatSAnotherManSComeUp {
    width: 459.84px;
    height: 21px;
    background: #BCBCBC;
  }
  
  .Clothingvariant2 {
    flex: 1 1 0;
    align-self: stretch;
  }  