:root {
    --yellow: rgba(255, 176, 0, 1);
    --green: rgba(44, 110, 73, 1);
    --blue: rgba(46, 121, 133, 1);
    --matsch: rgba(99, 133, 130, 1);
    --black: rgba(0, 0, 0, 1);
    --backgroundwhite: rgba(255, 253, 248, 1);
    --white: rgba(255, 255, 255, 1);
    --gray: rgba(77, 74, 79, 1);
    --darkblue: rgba(34, 73, 87, 1);
    --lightgray: rgba(188, 188, 188, 1);
    --evenlightergray: rgba(224, 224, 224, 1);
    --title-semibolditalic-font-family: "SFPro Display-SemiboldItalic", Helvetica;
    --title-semibolditalic-font-weight: 400;
    --title-semibolditalic-font-size: 64px;
    --title-semibolditalic-letter-spacing: 0px;
    --title-semibolditalic-line-height: normal;
    --title-semibolditalic-font-style: italic;
    --h2-64pt-font-family: "SFPro Display-UltralightItalic", Helvetica;
    --h2-64pt-font-weight: 400;
    --h2-64pt-font-size: 44.78321838378906px;
    --h2-64pt-letter-spacing: 0px;
    --h2-64pt-line-height: 140.9999966621399%;
    --h2-64pt-font-style: italic;
    --h3-56pt-font-family: "SFPro Display-UltralightItalic", Helvetica;
    --h3-56pt-font-weight: 400;
    --h3-56pt-font-size: 39.18531799316406px;
    --h3-56pt-letter-spacing: 0px;
    --h3-56pt-line-height: 140.9999966621399%;
    --h3-56pt-font-style: italic;
    --text1-48pt-font-family: "SFPro Display-Regular", Helvetica;
    --text1-48pt-font-weight: 400;
    --text1-48pt-font-size: 33.5874137878418px;
    --text1-48pt-letter-spacing: 0px;
    --text1-48pt-line-height: 140.9999966621399%;
    --text1-48pt-font-style: normal;
    --text2-40pt-font-family: "SFPro Display-Regular", Helvetica;
    --text2-40pt-font-weight: 400;
    --text2-40pt-font-size: 27.989511489868164px;
    --text2-40pt-letter-spacing: 0px;
    --text2-40pt-line-height: 140.9999966621399%;
    --text2-40pt-font-style: normal;
    --text3-20pt-font-family: "SFPro Display-Regular", Helvetica;
    --text3-20pt-font-weight: 400;
    --text3-20pt-font-size: 20px;
    --text3-20pt-letter-spacing: 0px;
    --text3-20pt-line-height: normal;
    --text3-20pt-font-style: normal;
    --textdescription-32pt-font-family: "SFPro Display-UltralightItalic", Helvetica;
    --textdescription-32pt-font-weight: 400;
    --textdescription-32pt-font-size: 32px;
    --textdescription-32pt-letter-spacing: 0px;
    --textdescription-32pt-line-height: normal;
    --textdescription-32pt-font-style: italic;
    --h1-72pt-font-family: "SFPro Display-Bold", Helvetica;
    --h1-72pt-font-weight: 700;
    --h1-72pt-font-size: 72px;
    --h1-72pt-letter-spacing: 0px;
    --h1-72pt-line-height: normal;
    --h1-72pt-font-style: normal;
    --signup-style-small-font-family: "SFPro Display-Regular", Helvetica;
    --signup-style-small-font-weight: 400;
    --signup-style-small-font-size: 26px;
    --signup-style-small-letter-spacing: 0px;
    --signup-style-small-line-height: 140.9999966621399%;
    --signup-style-small-font-style: normal;
    --signup-style-supersmall-font-family: "SFPro Display-Bold", Helvetica;
    --signup-style-supersmall-font-weight: 700;
    --signup-style-supersmall-font-size: 20px;
    --signup-style-supersmall-letter-spacing: 0px;
    --signup-style-supersmall-line-height: 140.9999966621399%;
    --signup-style-supersmall-font-style: normal;
    --login-signup-style-font-family: "SFPro Display-Regular", Helvetica;
    --login-signup-style-font-weight: 400;
    --login-signup-style-font-size: 30px;
    --login-signup-style-letter-spacing: 0px;
    --login-signup-style-line-height: 140.9999966621399%;
    --login-signup-style-font-style: normal;
  }
  