.Landingpage {
  width: 100%;
  height: 100%;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  display: inline-flex;
}

.Frame27 {
  align-self: stretch;
  flex: 1 1 0;
  justify-content: space-between;
  align-items: center;
  display: inline-flex;
}

.Test11 {
  flex: 1 1 0;
  align-self: stretch;
}

.Frame26 {
  align-self: stretch;
  padding-left: 30px;
  padding-right: 30px;
  background: black;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 50px;
  display: inline-flex;
}

.Logowhitefont {
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  gap: 10px;
  display: flex;
}

.Swapster1 {
  width: 500px;
}

.fontStyle_1 {
  color #BCBCBC;
}

.Clothingvariant2 {
  flex: 1 1 0;
  align-self: stretch;
}  